* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background: #f5f8f9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 20px;
  height: 20px;
}


/* buttons reset */
button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  cursor: pointer;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}



.wrapper {
  width: 75%;
  margin: 70px auto;

  @media (max-width:1200px) {
    width: 90%;
  }

  @media (max-width: 900px) {
    width: 100%;
    margin: 36px 0;
  }
}
