/** PROFILE
*  1. LOGOUT
*  2. UPLOAD
*  3. IMAGE
*  4. INFO
*  5. ABOUT
*  6. RATING
*  7. FOLLOWERS
**/

.profile {
  position: relative;
  background: #fff;
  box-shadow: 0 0 4px #f5f5f5;
  margin-bottom: 35px;

  @media(max-width: 900px) {
    background: transparent;
    box-shadow: none;
  }
}


/* LOGOUT */

.profile-logout {
  @include flex;
  justify-content: flex-end;
  padding: 20px;

  &__button {
    @include box;
    color: $primary-color;
    font-weight: bold;
  }
}


/* UPLOAD */

.profile-upload {
  @include flex;
  justify-content: center;

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__label {
    @include flex;
    @include box;
    color: $gray;
    border-color: #d0dce7;
    font-weight: normal;
    text-transform: none;

    svg {
      color: #d0dce7;
    }
  }

  @media(max-width: 900px) {
    display: none;
  }
}


/* IMAGE */

.profile-image {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  z-index: 2;

  &__img {
    width: $img-px;
    height: $img-px;
    object-fit: none;
    object-position: center top;
    box-shadow: 0 0 25px #adadad;
  }

  @media(max-width: 900px) {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
  }
}


/* INFO */

.profile-info {
  @include flex;
  justify-content: space-between;
  margin-left: $profile-margin;
  padding: 0 25px 0 15px;

  @media(max-width: 900px) {
    margin: 0;
    padding: 0 20px;
    flex-direction: column;
    align-items: stretch;
  }
}


/* ABOUT */

.profile-about {
  @media (max-width: 900px) {
    &__name {
      text-align: center;
    }
  }
}


/* RATING */

.rating {
  @include flex;

  &__stars {
    color: $gray;
    margin-right: 15px;
  }

  &__reviews::before {
    content: "6";
    margin-right: 10px;
  }

  @media(max-width: 900px) {
    flex-direction: column;
    align-items: stretch;

    &__stars {
      color: $primary-color;
      margin-bottom: 1em;
    }
  }
}


/* FOLLOWERS */

.profile-followers {
  @include flex;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 25px;
  z-index: 2;

  &__add {
    color: $gray;

    &:hover {
      background: none;
      color: $gray;
    }
  }

  &__ammount::before {
    content: "15";
    margin: 10px;
  }

  @media(max-width: 900px) {
    position: relative;
    margin: 0;
    padding: 15px;
  }
}
