$primary-color: #007ee5;

.floating {
  position: relative;
  display: block;
  height: auto;
  margin: 10px 0;

  &__label {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0 5px !important;
    color: #d0dce7;
    font-size: 16px;
    text-transform: uppercase;
    transition: .2s;

    .floating--focused &,
    .floating--active & {
      color: #43484d;
      top: -6px;
      font-size: 11px;
    }

  }

  &__input {
    border: none;
    outline: none !important; 
    border-bottom: 1px solid #d0dce7;
    padding: 10px 5px;
    width: 100%;

    .floating--focused & {
      border-color: $primary-color;
    }
  }
}
