//Popup for editing fields
.popup {
  @include box;
  display: block;
  position: absolute;
  top: -7px;
  z-index: 9999;
  background: #fff;
  border: none;
  box-shadow: 0 0 15px $gray;
  animation: popup-fade .3s ease-out;
  width: 300px;
}

.popup::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 10%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
}

//Popup for caption
.caption {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  left: 0;
}


//Popup for lists

//I know this names is a mess, but I left them as is
//becuase I didn't have time and was afraid to brake js
.popup-new {
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
}
.popup-new li:hover {
  background: #eee;
}
.is-active ~ .popup-new {
  display: block;
}
