/* HEADER TABS */

.nav-tabs {
  @include flex;
  width: 100%;
  background: #fff;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 5px #eee;

  &__list {
    @include flex;
    margin-left: $profile-margin;
    max-width: 40vw;
    max-height: 68.4px;
    flex-wrap: wrap;
    overflow: hidden;

    &--popup {
      display: none;
      background: #fff;
      right: auto !important;
      li {
        display: none;
        &.shown{ display: block }
      }
      .active ~ & { display: block }
    }
  }

  &__tab {
    position: relative;
    text-transform: uppercase;
    padding: 25px 15px;
  }
  &__tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    width: 0;
    opacity: 0;
    display: block;
    margin: auto;
    border: 1px solid $primary-color;
    transition: .2s;
  }

  &__tab:hover {
    background: transparent;
    color: #000;
  }
  &__tab--active::after,
  &__tab:hover::after {
    opacity: 1;
    width: 80%;
  }

  &__toggle {
    display: none;
    &.shown { display: block }
  }

  @media(max-width: 900px) {
    overflow: hidden;

    &__toggle {
      display: none !important;
    }

    &__list {
      margin: 0;
      max-width: none;
      flex-wrap: nowrap;
      overflow: visible;
    }
  }
}


/* EDIT SECTION TABS */

.edit-section {
  background: #fff;
  box-shadow: 0 0 5px #eee;
  padding: 45px 40px;

  &__tab {
    position: relative;
    display: none;
    animation: tab-animation 1s;
    &--active {
      display: block;
    }
  }

  &__name {
    color: $gray;
  }

  &__content {
    &--edited {
      display: none;
    }
  }

  &__output {
    @include flex;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: auto;
    background: #f5f8f8;
    margin-bottom: 1px;
    span {
      padding: 10px 0 10px 5px;
    }
  }

  &__button {
    background: #ecf1f5;
    color: $gray;
    transition: .2s;
    padding: 5px;
    margin-left: 15px;
    svg {
      width: 25px;
      height: 25px;
    }
    &--mobile {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media(max-width: 900px) {
    &__button {
      display: none;
      &--mobile {
        display: block;
      }
    }

    &__output {
      background: #fff;
    }
  }

}

.edit-buttons {
  &__button {
    @include box;
    background: #fff;
    margin-right: 20px;
    font-weight: bold;
    color: $primary-color;
  }

  @media(max-width: 900px) {
    position: absolute;
    top: 0;
    right: 0;

    &__button {
      margin: 0;
    }
  }
  
}
