@keyframes popup-fade {
  from {
    opacity: 0;
    margin-left: 50px;
  }
  top {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes tab-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
