@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin box {
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: 10px 25px;
  text-transform: uppercase;

  @media(max-width: 900px) {
    border: none;
  }
}
